h2 {
    text-align: center;
    background-color: #f2f2f2;
    padding: 10px;
    margin: 0;
}

.flex-container {
    display: flex;
    align-items: center;
}

#requestUrl, #requestMethod {
    margin-left: 10px;
    flex-grow: 1;
    overflow-wrap: break-word;
    max-width: 75%;
}

label[for="requestMethod"], [for="requestUrl"] {
    text-align: left;
    min-width: 25%;
}

table {
    width: 100%;
    height: 100vh;
}

td {
    padding: 20px;
    vertical-align: top;
}

.headerRow {
    height: 50px;
}

textarea {
    width: 100%;
    resize: none;
}

.paramTable {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.paramTable tr:nth-child(odd) {
    background-color: #f2f2f2;  /* 연한색 */
}

.paramTable tr:nth-child(even) {
    background-color: #d9d9d9;  /* 진한색 */
}

.paramTable span {
    color: red;
}

.paramTable td {
    padding: 5px 10px;
    vertical-align: middle;
}

.paramTable td:nth-child(1) {
    min-width: 130px;
    width: 22%;
}

.paramTable td:nth-child(2) {
    min-width: 50px;
    width: 20%;
}

.paramTable td:nth-child(3) {
    min-width: 250px;
    width: 50%;
}

.paramTable td:nth-child(3) input[type="text"]{
    width: 95%;
}